[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=MunsellColorPicker
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=MunsellColorPicker
Comment=Getting a docker set up
